@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.tag {
    background-color: rgb(194, 151, 151);
    border-radius: 2em;
    color: black;
}