@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.tag {
    background-color: rgb(194, 151, 151);
    border-radius: 2em;
    color: black;
}

.post_text {
    margin-top: 2em;
    padding: 3em;
    border: 3px solid #706e70;
}

.comment {
    margin-top: 3em;
    border: 1px solid blue;
    word-wrap: break-word;
    padding: 2em;
}

.comments {
    margin-top: 3em;
}